// Abel Font
@font-face {
    font-family: "Abel-Regular";
    src: url("Abel-Regular.ttf") format("truetype");
}
// Mulish Font  
@font-face {
    font-family: "Mulish";
    src: url("Mulish-Black.ttf") format("truetype"); 
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Mulish";
    src: url("Mulish-BlackItalic.ttf") format("truetype"); 
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Mulish";
    src: url("Mulish-Bold.ttf") format("truetype"); 
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Mulish";
    src: url("Mulish-BoldItalic.ttf") format("truetype"); 
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Mulish";
    src: url("Mulish-ExtraBold.ttf") format("truetype"); 
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Mulish";
    src: url("Mulish-ExtraBoldItalic.ttf") format("truetype"); 
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Mulish";
    src: url("Mulish-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: "Mulish";
    src: url("Mulish-ExtraLightItalic.ttf") format("truetype"); 
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Mulish";
    src: url("Mulish-Italic.ttf") format("truetype"); 
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Mulish";
    src: url("Mulish-Light.ttf") format("truetype"); 
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Mulish";
    src: url("Mulish-LightItalic.ttf") format("truetype"); 
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Mulish";
    src: url("Mulish-Medium.ttf") format("truetype"); 
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Mulish";
    src: url("Mulish-MediumItalic.ttf") format("truetype"); 
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Mulish";
    src: url("Mulish-Regular.ttf") format("truetype"); 
    font-weight: 400;
    font-style: normal;
    font-display: swap;
} 
@font-face {
    font-family: "Mulish";
    src: url("Mulish-SemiBold.ttf") format("truetype"); 
    font-weight: 600;
    font-style: normal;
    font-display: swap;
} 
@font-face {
    font-family: "Mulish";
    src: url("Mulish-SemiBoldItalic.ttf") format("truetype"); 
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}  
// PlayfairDisplay 
@font-face {
    font-family: "PLayfairDisplay";
    src: url("PlayfairDisplay-Black.ttf") format("truetype");  
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "PLayfairDisplay";
    src: url("PlayfairDisplay-BlackItalic.ttf") format("truetype");  
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "PLayfairDisplay";
    src: url("PlayfairDisplay-Bold.ttf") format("truetype");  
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "PLayfairDisplay";
    src: url("PlayfairDisplay-BoldItalic.ttf") format("truetype");  
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "PLayfairDisplay";
    src: url("PlayfairDisplay-ExtraBold.ttf") format("truetype"); 
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "PLayfairDisplay";
    src: url("PlayfairDisplay-ExtraBoldItalic.ttf") format("truetype"); 
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "PLayfairDisplay";
    src: url("PlayfairDisplay-Italic.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "PLayfairDisplay";
    src: url("PlayfairDisplay-Medium.ttf") format("truetype"); 
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "PLayfairDisplay";
    src: url("PlayfairDisplay-MediumItalic.ttf") format("truetype");  
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "PLayfairDisplay";
    src: url("PlayfairDisplay-Regular.ttf") format("truetype"); 
    font-weight: 400;
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: "PLayfairDisplay";
    src: url("PlayfairDisplay-SemiBold.ttf") format("truetype");  
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "PLayfairDisplay";
    src: url("PlayfairDisplay-SemiBoldItalic.ttf") format("truetype");  
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
// Poppins Font
@font-face {
    font-family: "Poppins";
    src: url("Poppins-Black.ttf") format("truetype"); 
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("Poppins-BoldItalic.ttf") format("truetype"); 
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("Poppins-ExtraBold.ttf") format("truetype"); 
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("Poppins-ExtraBoldItalic.ttf") format("truetype"); 
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("Poppins-ExtraLight.ttf") format("truetype"); 
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("Poppins-ExtraLightItalic.ttf") format("truetype"); 
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("Poppins-Italic.ttf") format("truetype");  
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("Poppins-Light.ttf") format("truetype");  
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("Poppins-LightItalic.ttf") format("truetype");  
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("Poppins-Medium.ttf") format("truetype"); 
    font-weight: 500;
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: "Poppins";
    src: url("Poppins-MediumItalic.ttf") format("truetype");  
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("Poppins-Regular.ttf") format("truetype");  
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("Poppins-SemiBold.ttf") format("truetype");  
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("Poppins-SemiBoldItalic.ttf") format("truetype");  
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("Poppins-Thin.ttf") format("truetype");  
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("Poppins-ThinItalic.ttf") format("truetype");  
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}