<div class="contact">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <ul class="Contactus ">
                <li >Contact Us </li>
            </ul>
         
        </div>
          <div class="col-md-6 rightform">
            <form class="form_block" ngNativeValidate [formGroup]="contactus" (submit)="sendEmail()" autocomplete="off">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-floating open_input">
                            <input type="text" class="form-control" id="floatingInput"
                                formControlName="yourname"
                                required>
                            <label for="floatingInput">Your Name</label>
                        </div>

                        <div class="form-floating open_input">
                          <input type="email" class="form-control" id="floatingInput"
                              formControlName="youremail"
                              required>
                          <label for="floatingInput">Your Email</label>
                      </div>

                      <div class="form-floating open_input">
                        <input type="text" class="form-control" id="floatingInput"
                           formControlName="phonenumber"
                            required>
                        <label for="floatingInput">Your Phone Number </label>
                    </div>

                    <div class="form-floating open_input">
                      <input type="text" class="form-control" id="floatingInput"
                         formControlName="yourmessage" 
                          required>
                      <label for="floatingInput">Your Message </label>
                  </div>
                  <button *ngIf="!handleBtnDisable" nzType="primary" class="ant-btn buy-now-btn" nzSize="large"  type="submit" >
                    <span class="nextbtn">Get in touch</span>  
                    <svg xmlns="http://www.w3.org/2000/svg" width="23px" height="18px" fill="white" class="bi bi-arrow-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                  </button>
                  <p style="color:'white'" *ngIf="handleBtnDisable">Loading ...</p>
                  <p class="{{contactSuccessResponse ? 'success' : 'error'}}">{{contactSuccessResponse ? contactSuccessResponse : contactFailResponse}}
                </p>
                    </div>
                </div>
            </form>
            <div class="contactfooter">
                <div class="newyork">
                    <h3>NEWYORK</h3>
                    <p>13th Street . 47 W 13th St, New York, NY 10011, USA</p>
                    <a>+1 801 500 2445</a>
                </div>
                <div class="pennsylvania">
                    <h3>PENNSYLVANIA</h3>
                    <p>200 A Main St,<br>
                        Peckville, Pennsylvania(PA), USA
                    </p>
                    <a>+1 801 500 2445</a>
                </div>
            </div>
        </div>
</div>
</div>